*{
    margin: auto;
}

.head{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(Netflix-background.jpg) ;
    height: 1100px ;
    background-size: cover;
    

}

.navbar{
    width: 700px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center
    ;
}

.inner-navbar{
    height: 80px;
    width: 660px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-layout{
    height: 24px;
    width: 260px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.logo{
    background-image: url(Netflix-Logo.png);
    height: 23px;
    width: 60px;
    background-size: contain;
    padding-left:20px ;
}

.signin{
    height: 450px;
    width: 650px;
}