*{
    margin: 0%;
    
}

.head{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(Netflix-background.jpg) ;
    
    background-size:cover;
    height: 1100px;
    display: flex;
    

}

.navbar{
    height: 80px;
    width: 835px;
    margin-left: 16px;
    display: flex;
    margin-top : 25px;
    align-items: center;
    justify-content: space-evenly;
    

}

.logo{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40%;
    font-size: 25px;
}
.language{
    
    margin-left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language select{
    height: 32px;
    width: 124px;
    background-color: black;
    color: white;   
    border-radius: 5px;
    font-size: 15px;
    
}
.sign-in{
    margin-left: 2%;
}

.sign-in button{
    height: 32px;
    width: 80px;
    background-color: red;
    color: white;   
    border-radius: 5px;
    border-color: red;
    font-size: 14px;
    font-weight: bold;
}



















